cmh/terminal/CheekiBreeki.CMH.Terminal.BL/Service References/SeguroServiceReference/Cheekibreeki.CMH.Seguro.WS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cheekibreeki.CMH.Seguro.WS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cheekibreeki.CMH.Seguro.WS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SeguroRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AfiliadoRut" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoPrestacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioPrestacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SeguroRequest" nillable="true" type="tns:SeguroRequest" />
  <xs:complexType name="SeguroResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AfiliadoTieneSeguro" type="xs:boolean" />
      <xs:element minOccurs="0" name="DescuentoPesos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SeguroResponse" nillable="true" type="tns:SeguroResponse" />
</xs:schema>