cmh/terminal/CheekiBreeki.CMH.Terminal.BL/Service References/SeguroServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Cheekibreeki.CMH.Seguro.WS" />
  <xs:element name="obtenerDescuento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Cheekibreeki.CMH.Seguro.WS" minOccurs="0" name="seguroRequest" nillable="true" type="q1:SeguroRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerDescuentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Cheekibreeki.CMH.Seguro.WS" minOccurs="0" name="obtenerDescuentoResult" nillable="true" type="q2:SeguroResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>